<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit chat</title>
</head>
<body>
    <h1>Edit Chat</h1>
    <h2>ID :<%=id%></h2>
    <h3>Chat was send from <i><%= chats.from %></i> to <i><%= chats.to %></i></h3>
    <form method="POST" action="/chats/<%=id%>?_method=PUT">
    <textarea name="message" placeholder="enter message"><%=chats.message%></textarea>
    <br />
    <button type="submit">Done</button>
</form>
</body>
</html>